.checked3 {
  position: relative;
  width: 300px;
  height: 300px;

  & > input[name="menu"] {
    display: none;

    &[id="tab1"]:checked {
      & ~ .slide1 {
        opacity: 1;
        visibility: visible;
      }

      & ~ .btn > label[for="tab1"] {
        background-color: crimson;
      }
    }

    &[id="tab2"]:checked {
      & ~ .slide2 {
        opacity: 1;
        visibility: visible;
      }

      & ~ .btn > label[for="tab2"] {
        background-color: crimson;
      }
    }

    &[id="tab3"]:checked {
      & ~ .slide3 {
        opacity: 1;
        visibility: visible;
      }

      & ~ .btn > label[for="tab3"] {
        background-color: crimson;
      }
    }
  }

  & > .content {
    position: absolute;
    inset: 0;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & > .btn {
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 200%);

    & > label {
      width: 20px;
      height: 20px;
      background-color: lightgray;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
