.checked1 {
  & > input {
    display: none;

    &:checked {
      & + label {
        right: 310px;

        & span {
          &:nth-of-type(1) {
            top: 50%;
            transform: rotate(45deg);
          }

          &:nth-of-type(2) {
            opacity: 0;
          }

          &:nth-of-type(3) {
            top: 50%;
            transform: rotate(-45deg);
          }
        }
      }

      & ~ .sidebar {
        right: 0px;
      }
    }
  }

  & > label {
    width: 30px;
    height: 20px;
    display: block;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;

    & > span {
      position: absolute;
      height: 2px;
      background-color: #000;
      width: 100%;
      left: 0;
      transition: 0.3s;

      &:nth-of-type(1) {
        top: 0;
      }

      &:nth-of-type(2) {
        top: 50%;
      }

      &:nth-of-type(3) {
        top: 100%;
      }
    }
  }

  & > .sidebar {
    background-color: #000;
    width: 300px;
    height: 100dvh;
    position: fixed;
    right: -300px;
    transition: 0.5s;
  }
}
