.hover4 {
  width: 100dvw;
  height: 100dvh;
  background-color: #111;

  display: flex;
  justify-content: center;
  align-items: center;

  & .items {
    & .item {
      position: relative;
      width: 300px;
      height: 250px;

      &:hover {
        & .front {
          top: -50%;

          & img {
            animation: ani 1s linear infinite;
          }
        }

        & .back {
          top: 50%;
        }
      }

      & .front,
      .back {
        width: inherit;
        height: inherit;
        position: absolute;
        transition: 0.5s;
        top: 0;
      }

      & .front {
        background-color: #333;
        color: #fff;
        text-align: center;

        z-index: 1;

        & img {
          width: 200px;
        }

        & h2 {
          margin: 0;
        }
      }

      & .back {
        background-color: #fff;
        color: #000;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;

        & p {
          word-wrap: break-word;
        }

        & a {
          text-decoration: none;
          color: #fff;
          background-color: yellowgreen;
          padding: 5px 15px;
          border-radius: 20px;

          &:hover {
            background-color: black;
          }
        }
      }
    }
  }
}

@keyframes ani {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.9);
  }
}
